<!DOCTYPE html>

<html>
<head>
    <title>On Call Rota</title>
    <meta name="viewport" content="user-scalable=no, width=device-width"/>

    <link href="/static/css/site.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>

</head>
<body>

<table id="schedule-table">
	<tr>
		<th class="date-cell" rowspan="2">Date</th>
		{{#headers}}
			<th colspan="{{colspan}}" class="ooh-cell end-of-group" style="background-color: {{cellColor}}">{{name}}</th>
		{{/headers}}
	</tr>
	<tr>
		{{#peopleHeaders}}
			<th class="person-header ooh-cell{{#endOfGroup}} end-of-group{{/endOfGroup}}" style="background-color: {{cellColor}}"><div class="text">{{name}}</div></th>
		{{/peopleHeaders}}
	</tr>
	{{#rows}}
	<tr class="schedule-row">
		<th class="date-cell">{{date}}</th>
		{{#cells}}
		<td{{#endOfGroup}} class="end-of-group"{{/endOfGroup}}{{#isOnCall}} style="background-color: {{cellColor}}"{{/isOnCall}}>{{#isOnCall}}<div class="fa fa-times-circle-o"></div>{{/isOnCall}}</td>
		{{/cells}}
	</tr>
	{{/rows}}
</table>

<!-- build:js /static/js/app.js -->
<script type="text/javascript" src="/static/js/lib/lodash.js"></script>
<script type="text/javascript" src="/static/js/lib/mustache.js"></script>
<script type="text/javascript" src="/static/js/lib/moment.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery-2.0.0.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/lib/TLRGRP.core.js"></script>
<script type="text/javascript" src="/static/js/lib/nanomachine.js"></script>
<!-- endbuild  -->

<script type="text/javascript">
    (function () {
        var x = $('#schedule-table tr:eq(1) th div').each(function() {
        	var textDiv = $(this);
        	if(textDiv.height() < 36) {
        		textDiv.html(textDiv.html().replace(' ', '<br />'));
        	}
        });
    })();
</script>

</body>
</html>
